
.icon-menu:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\e802'; } /* '' */
.icon-googleplay:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-heart:before { content: '\e805'; } /* '' */
.icon-music:before { content: '\e806'; } /* '' */
.icon-glass:before { content: '\e807'; } /* '' */
.icon-gift:before { content: '\e808'; } /* '' */
.icon-phone:before { content: '\e809'; } /* '' */
.icon-mail:before { content: '\e80a'; } /* '' */
.icon-down-open:before { content: '\e80b'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
